@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* ----   Generales ------- */
body {
    background-color: #f4f4f4;
    font-family: 'Ubuntu', sans-serif;
}

p.text {
    color: #565656;
    margin: 0;
    padding: 5px;
}

.section_common {
    width: 100%;
    min-height: 300px;
    padding: 20px;
    margin-top: 70px;
}

.h2{
    color: #529890;
    margin: 15px 0; 
}


/* ------ Encabezado ------ */

header {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4; 
    text-align: center;
    height: 60px;
    color: #2b2b2b;
}

.text-cabecera {
    color: #f0a102;
    font-size: 27px;
    font-style: italic;
    font-weight: 500;
    margin-left: 30px;
}

/* ------ Menu de Navegación ------*/
.menu-container {
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
    font-weight: 500;
}

.menu li a {
    color: #2b2b2b;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu li a:hover {
    background-color: #555;
    color: white;
}

.menu li a.active {
    background-color: #d3d3d3;
}

.menu li a.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* ------ Contenido ------ */

/* Inicio */


/* Sobre mi */
section.sobre-mi {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: calc(100% - 20px);
    min-height: 300px;
    padding: 10px;
    box-sizing: border-box;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 10px;
    margin-right: 10px;
}

section.sobre-mi h1, h2 {
    color: #529890;
    margin: 15px 0;
}

section.sobre-mi .contenedor-img img {
    border-radius: 10px;
    margin: 20px 0;
    max-width: 100%; 
    height: auto;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
}


/* Contacto */
form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    color:  #8f8f8f;
    font-style: italic;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-item:focus{
    border-color: #6b85bd;
    outline: none;
    box-shadow: 0 0 5px rgba(107, 133, 189, 0.5);
}

textarea {
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #3b7e77;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #7eb3c1;
}


/* ------ Pie de pagina ------ */
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #f0a102;
    padding: 10px 0;
}
